<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>[LCRP] Order to Release</title>
<link rel="stylesheet" href="template-base.css">
</head>
<body>
  <div class="sheet">
    <img class="letterhead" src="letterhead.png" alt="The San Andreas Supreme Court">
    <h1>Order to Release</h1>

    <p class="intro">Chambers of: <span class="field">{{approving_judge_name}}</span></p>

    <table class="form-grid">
      <tr>
        <td class="label">Order:</td>
        <td><span class="field">SC-DOJ {{order_number}}</span></td>
        <td class="label">Date:</td>
        <td><span class="field">{{date_filed}}</span></td>
      </tr>
    </table>

    <h2 class="section">Summary</h2>
    <p class="doc-body"><span class="field block">{{summary}}</span></p>

    <h2 class="section">Overview</h2>
    <p class="doc-body"><span class="field block">{{overview}}</span></p>

    <h2 class="section">Order</h2>
    <p class="doc-body"><span class="field">{{release_subject_name}}</span> is to be released from Bollingbrook.</p>

    <p class="notice">Respectfully,</p>
    <table class="form-grid">
      <tr>
        <td>
          Signature<br>
          <span class="field signature">{{approving_judge_name}}</span><br>
          <span class="field">{{approving_judge_title}}</span><br>
          San Andreas
        </td>
      </tr>
    </table>

    <p class="meta">SC-DOJ &bull; Order to Release &bull; template proof of concept</p>
  </div>
</body>
</html>
