<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>[LCRP] Vehicle Return</title>
<link rel="stylesheet" href="/assets/template-base.css">
</head>
<body>
  <div class="sheet">
    <img class="letterhead" src="/assets/letterhead.png" alt="The San Andreas Supreme Court">
    <h1>Vehicle Return</h1>

    <p class="intro">
      This form is to be used to request the return of a vehicle that is stored in a property that the owner
      no longer has access to (an LEO is able to retrieve the vehicle) and is not involved in a criminal case
      (that still requires a Search Warrant).
    </p>

    <table class="form-grid">
      <tr>
        <td class="label">Owner Name:</td>
        <td><span class="field">{{owner_name}}</span></td>
        <td class="label">Date of Application:</td>
        <td><span class="field">{{date_filed}}</span></td>
      </tr>
      <tr>
        <td class="label">CID:</td>
        <td colspan="3"><span class="field">{{owner_cid}}</span></td>
      </tr>
    </table>

    <table class="form-grid">
      <tr>
        <td class="label">Vehicle VIN &amp; Location:</td>
        <td><span class="field">{{vehicle_vin_location}}</span></td>
      </tr>
    </table>

    <table class="form-grid">
      <tr>
        <td class="label">Proof Of Ownership:</td>
        <td><span class="field">{{proof_of_ownership}}</span></td>
      </tr>
    </table>

    <h2 class="section">Reason for Request</h2>
    <table class="form-grid">
      <tr>
        <td class="wide-text"><span class="field block">{{reason_for_request}}</span></td>
      </tr>
    </table>

    <table class="form-grid">
      <tr>
        <td class="label">Approving LEO or Judiciary:</td>
        <td><span class="field signature">{{approving_judge_name}}</span></td>
        <td class="label">Date:</td>
        <td><span class="field">{{approval_date}}</span></td>
      </tr>
    </table>

    <p class="meta">LCRP-DoJ &bull; Vehicle Return</p>
  </div>
</body>
</html>
