<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>[LCRP] Witness Affidavit</title>
<link rel="stylesheet" href="template-base.css">
</head>
<body>
  <div class="sheet">
    <img class="letterhead" src="letterhead.png" alt="The San Andreas Supreme Court">
    <h1>Sworn Affidavit</h1>
    <p class="notice" style="text-align:center">Form AF-1</p>

    <h2 class="section">Complaint Statement</h2>
    <p class="doc-body">
      Before me, <span class="field">{{counsel_name}}</span>, Counsel in the State of San Andreas, duly commissioned
      and qualified, came <span class="field">{{affiant_name}}</span>, who, being duly sworn, deposes and says that:
    </p>

    <table class="form-grid">
      <tr>
        <td class="wide-text"><span class="field block">{{statement}}</span></td>
      </tr>
    </table>

    <p class="doc-body"><em>On the Date of</em> <span class="field">{{incident_date}}</span></p>
    <p class="doc-body">This Statement is given under the penalty of perjury.</p>
    <p class="doc-body">Date and Time: <span class="field">{{signed_datetime}}</span></p>

    <table class="form-grid">
      <tr>
        <td class="label">Counsel Signature:</td>
        <td><span class="field signature">{{counsel_signature}}</span></td>
      </tr>
      <tr>
        <td class="label">Affiant Signature:</td>
        <td><span class="field signature">{{affiant_signature}}</span></td>
      </tr>
    </table>

    <p class="meta">SC-DOJ &bull; Sworn Affidavit &bull; template proof of concept</p>
  </div>
</body>
</html>
